@model IEnumerable<SiFoodProjectFormal2._0.Areas.Admin.Views.Models.OrderManageVM>

@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "訂單管理";
   
                                                    <link href="~/assets/libs/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />
                                                    <link href="~/assets/libs/feather-webfont/dist/feather-icons.css" rel="stylesheet" />
                                                    <link href="~/assets/libs/simplebar/dist/simplebar.min.css" rel="stylesheet" />
                                                    <link href="~/assets/css/theme.min.css" rel="stylesheet" />
}

<div class="text-center">
    <div class="container ">

        <div>
            <h2>訂單管理</h2>
          
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a href="#">首頁</a></li>
                    <li class="breadcrumb-item active" aria-current="page">訂單管理</li>
                </ol>
            </nav>

        </div>
    </div>
</div>

<div class=" p-6 ">
    <div class="row justify-content-between">

       
        <div class="col-3 col-md-4 col-12">

            <!-- select -->
            <label for="orderStatusFilter">訂單狀態篩選</label>
            <select class="form-select" id="orderStatusFilter" name="orderStatusFilter" onchange="filterOrders()">
            <option value="">所有訂單狀態</option>
            <option value="待確認">待確認</option>
            <option value="待配送">待配送</option>
            <option value="待領取">待領取</option>
            <option value="配送中">配送中</option>
            <option value="已送達">已送達</option>
            <option value="已領取">已領取</option>
            <option value="已取消">已取消</option>
            </select>
           

            
        </div>
    </div>
</div>

<table class="table table-centered table-hover text-nowrap table-borderless mb-0 table-with-checkbox">
    <thead class="bg-light">
        <tr>
            <th>訂單編號</th>
            <th>訂單日期</th>
            <th>客戶姓名</th>
            <th>商品名稱</th>
            <th>商品數量</th>
            <th>訂單狀態</th>
            <th>編輯</th>
        </tr>
    </thead>
    <tbody id="orderTableBody">
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderId)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
           
            
             <td>
                    @Html.DisplayFor(modelItem => item.StatusName)
             </td>
            <td>
                   
                    <a asp-controller="OrderManage" asp-action="Edit" asp-route-OrderId="@item.OrderId" asp-route-ProductId="@item.ProductId"><button type="button" class="btn btn-warning">修改</button></a> |
                    <a asp-controller="OrderManage" asp-action="Details" asp-route-OrderId="@item.OrderId" asp-route-ProductId="@item.ProductId"><button type="button" class="btn btn-info">明細</button></a> |
                    <a asp-controller="OrderManage" asp-action="Delete" asp-route-OrderId="@item.OrderId" asp-route-ProductId="@item.ProductId"><button type="button" class="btn btn-danger">刪除</button></a>                          
            </td>
        </tr>
}
    </tbody>
</table>

<div class="border-top d-md-flex justify-content-between align-items-center p-6">
    @* <span>Showing 1 to 8 of 12 entries</span> *@
   
    <nav class="mt-2 mt-md-0">
        <ul class="pagination mb-0 ">
            <li class="page-item disabled"><a class="page-link " href="#!">《</a></li>
            <li class="page-item"><a class="page-link active" href="#!">1</a></li>
          @*   <li class="page-item"><a class="page-link" href="#!">2</a></li>
            <li class="page-item"><a class="page-link" href="#!">3</a></li> *@
            <li class="page-item"><a class="page-link" href="#!">》</a></li>
        </ul>
    </nav>
</div>
@section Scripts {
    <script src="~/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/libs/simplebar/dist/simplebar.min.js"></script>
    <script src="~/assets/js/theme.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(document).ready(function () {
            document.getElementById("orderStatusFilter").addEventListener("change", function () {
                var selectedStatusName = this.value;
                $.ajax({
                    url: "/Admin/OrderManage/FilterOrders",
                    type: "GET",
                    data: { status: selectedStatusName },
                    success: function (result) { $("#orderTableBody").html(result); },
                    error: function (error) {
                        console.error("無法篩選訂單狀態!");
                    }
                });
            });

        });

    </script>

}