@model SiFoodProjectFormal2._0.Models.User

<div class="modal fade" id="DetailUser-@Model.UserId" tabindex="-1" role="dialog" aria-labelledby="DetailUserLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="DetailUserLabel">顧客資料明細</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-dialog modal-lg">
                <dl class="row">
                    <dt class="col-sm-3">
                       顧客ID
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.UserId)
                    </dd>
                    <dt class="col-sm-3">
                        顧客姓名
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.UserName)
                    </dd>
                    <dt class="col-sm-3">
                        信箱
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.UserEmail)
                    </dd>                    
                    <dt class="col-sm-3">
<<<<<<< HEAD
                        @Html.DisplayNameFor(model => model.UserPhone)
=======
                        電話號碼
>>>>>>> 39fd33f665d7ca84a09987349f074bdbe3277398
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.UserPhone)
                    </dd>
                    <dt class="col-sm-3">
                        生日
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.UserBirthDate)
                    </dd>
                    <dt class="col-sm-3">
                        訂單總額
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.TotalOrderAmount)
                    </dd>
                    <dt class="col-sm-3">
                        註冊日期
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.UserEnrollDate)
                    </dd>
                    <dt class="col-sm-3">
                        最新登入日期
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.UserLatestLogInDate)
<<<<<<< HEAD
                    </dd>
                    
=======
                    </dd>                    
>>>>>>> 39fd33f665d7ca84a09987349f074bdbe3277398
                </dl>
            </div>
        </div>
    </div>
</div>