@model SiFoodProjectFormal2._0.Models.User

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserPasswordHash)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserPasswordHash)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserBirthDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserBirthDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalOrderAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalOrderAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserEnrollDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserEnrollDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserLatestLogInDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserLatestLogInDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserPasswordSalt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserPasswordSalt)
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="MemberManage" asp-action="Edit" asp-route-UserId="@Model?.UserId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
