@model SiFoodProjectFormal2._0.Models.Store

<div class="modal fade" id="DetailStore-@Model.StoreId" tabindex="-1" role="dialog" aria-labelledby="DetailStoreLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="DetailStoreLabel">店家資料明細</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-dialog modal-lg">
                <dl class="row">
                    <dt class="col-sm-3">
                        商店編號
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.StoreId)
                    </dd>
                    <dt class="col-sm-3">
                        商店名稱
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.StoreName)
                    </dd>
                    <dt class="col-sm-3">
                        聯絡人姓名
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.ContactName)
                    </dd>
                    <dt class="col-sm-3">
                        統一編號
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.TaxId)
                    </dd>
                    <dt class="col-sm-3">
                        信箱
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Email)
                    </dd>
                    <dt class="col-sm-3">
                        電話
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Phone)
                    </dd>
                    <dt class="col-sm-3">
                        城市
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.City)
                    </dd>
                    <dt class="col-sm-3">
                        區
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Region)
                    </dd>
                    <dt class="col-sm-3">
                        地址
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Address)
                    </dd>
                    <dt class="col-sm-3">
                        簡介
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Description)
                    </dd>                                    
                    <dt class="col-sm-3">
                        註冊日期
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.EnrollDate)
                    </dd>                    
                    <dt class="col-sm-3">
                        開店時間
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.OpeningTime)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.ClosingDay)
                    </dt>
                    <dd class="col-sm-9">
                        關店時間
                    </dd>
                    <dt class="col-sm-3">
                        商家照片
                    </dt>
                    <dd class="col-sm-9">
                        <img src="@Model.PhotosPath" width="300" height="200" alt="Logo" />
                        <img src="@Model.PhotosPath2" width="300" height="200" alt="Logo" />
                        <img src="@Model.PhotosPath3" width="300" height="200" alt="Logo" />
                    </dd>
                    <dt class="col-sm-3">
                        商家Logo
                    </dt>
                    <dd class="col-sm-9" >
                        <img src="@Model.LogoPath" width="300" height="300" alt="Logo" />
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>