@using SiFoodProjectFormal2._0.Areas.Users.Models.ViewModels;
@model IEnumerable<FavoriteVM>

<!-- Title -->
@{
    ViewData["Title"] = "我的收藏";
}

@*     <div class="border-bottom ">
        <div class="bg-light py-1">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-12 text-center text-md-start">
                        <span>
                            Super Value Deals - Save more with
                            coupons
                        </span>
                    </div>
                    <div class="col-6 text-end d-none d-md-block">
                        <div class="dropdown selectBox">
                            <a class="dropdown-toggle selectValue text-reset" href="javascript:void(0)" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="me-1">
                                    <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#selectedlang)">
                                            <path d="M0 0.5H16V12.5H0V0.5Z" fill="#012169" />
                                            <path d="M1.875 0.5L7.975 5.025L14.05 0.5H16V2.05L10 6.525L16 10.975V12.5H14L8 8.025L2.025 12.5H0V11L5.975 6.55L0 2.1V0.5H1.875Z"
                                                  fill="white" />
                                            <path d="M10.6 7.525L16 11.5V12.5L9.225 7.525H10.6ZM6 8.025L6.15 8.9L1.35 12.5H0L6 8.025ZM16 0.5V0.575L9.775 5.275L9.825 4.175L14.75 0.5H16ZM0 0.5L5.975 4.9H4.475L0 1.55V0.5Z"
                                                  fill="#C8102E" />
                                            <path d="M6.025 0.5V12.5H10.025V0.5H6.025ZM0 4.5V8.5H16V4.5H0Z" fill="white" />
                                            <path d="M0 5.325V7.725H16V5.325H0ZM6.825 0.5V12.5H9.225V0.5H6.825Z" fill="#C8102E" />
                                        </g>
                                        <defs>
                                            <clipPath id="selectedlang">
                                                <rect width="16" height="12" fill="white" transform="translate(0 0.5)" />
                                            </clipPath>
                                        </defs>
                                    </svg>
                                </span>English
                            </a>

                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="javascript:void(0)">
                                        <span class="me-1">
                                            <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <g clip-path="url(#selectedlang)">
                                                    <path d="M0 0.5H16V12.5H0V0.5Z" fill="#012169" />
                                                    <path d="M1.875 0.5L7.975 5.025L14.05 0.5H16V2.05L10 6.525L16 10.975V12.5H14L8 8.025L2.025 12.5H0V11L5.975 6.55L0 2.1V0.5H1.875Z"
                                                          fill="white" />
                                                    <path d="M10.6 7.525L16 11.5V12.5L9.225 7.525H10.6ZM6 8.025L6.15 8.9L1.35 12.5H0L6 8.025ZM16 0.5V0.575L9.775 5.275L9.825 4.175L14.75 0.5H16ZM0 0.5L5.975 4.9H4.475L0 1.55V0.5Z"
                                                          fill="#C8102E" />
                                                    <path d="M6.025 0.5V12.5H10.025V0.5H6.025ZM0 4.5V8.5H16V4.5H0Z" fill="white" />
                                                    <path d="M0 5.325V7.725H16V5.325H0ZM6.825 0.5V12.5H9.225V0.5H6.825Z" fill="#C8102E" />
                                                </g>
                                                <defs>
                                                    <clipPath id="selectedlang">
                                                        <rect width="16" height="12" fill="white" transform="translate(0 0.5)" />
                                                    </clipPath>
                                                </defs>
                                            </svg>
                                        </span>English
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="javascript:void(0)">
                                        <span class="me-2">

                                            <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <g clip-path="url(#clip0_5543_19751)">
                                                    <path d="M0 8.5H16V12.5H0V8.5Z" fill="#FFCE00" />
                                                    <path d="M0 0.5H16V4.5H0V0.5Z" fill="black" />
                                                    <path d="M0 4.5H16V8.5H0V4.5Z" fill="#DD0000" />
                                                </g>
                                                <defs>
                                                    <clipPath id="clip0_5543_19751">
                                                        <rect width="16" height="12" fill="white" transform="translate(0 0.5)" />
                                                    </clipPath>
                                                </defs>
                                            </svg>

                                        </span>Deutsch
                                    </a>
                                </li>

                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="py-5">
            <div class="container">
                <div class="row w-100 align-items-center gx-lg-2 gx-0">
                    <div class="col-xxl-2 col-lg-3">
                        <a class="navbar-brand d-none d-lg-block" href="../index.html">
                            <img src="~/assets/images/logo/freshcart-logo.svg" alt="eCommerce HTML Template">

                        </a>
                        <div class="d-flex justify-content-between w-100 d-lg-none">
                            <a class="navbar-brand" href="../index.html">
                                <img src="~/assets/images/logo/freshcart-logo.svg" alt="eCommerce HTML Template">

                            </a>

                            <div class="d-flex align-items-center lh-1">

                                <div class="list-inline me-4">
                                    <div class="list-inline-item">

                                        <a href="#!" class="text-muted" data-bs-toggle="modal" data-bs-target="#userModal">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                                                 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                 class="feather feather-user">
                                                <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                                                <circle cx="12" cy="7" r="4"></circle>
                                            </svg>
                                        </a>
                                    </div>
                                    <div class="list-inline-item">

                                        <a class="text-muted position-relative " data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                                           href="#offcanvasExample" role="button" aria-controls="offcanvasRight">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                                                 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                 class="feather feather-shopping-bag">
                                                <path d="M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z"></path>
                                                <line x1="3" y1="6" x2="21" y2="6"></line>
                                                <path d="M16 10a4 4 0 0 1-8 0"></path>
                                            </svg>
                                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success">
                                                1
                                                <span class="visually-hidden">unread messages</span>
                                            </span>
                                        </a>
                                    </div>

                                </div>
                                <!-- Button -->
                                <button class="navbar-toggler collapsed" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbar-default" aria-controls="navbar-default" aria-label="Toggle navigation">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                                         class="bi bi-text-indent-left text-primary" viewBox="0 0 16 16">
                                        <path d="M2 3.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm.646 2.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L4.293 8 2.646 6.354a.5.5 0 0 1 0-.708zM7 6.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 3a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm-5 3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z" />
                                    </svg>
                                </button>

                            </div>
                        </div>

                    </div>
                    <div class="col-xxl-5 col-lg-5 d-none d-lg-block">

                        <form action="#">
                            <div class="input-group ">
                                <input class="form-control rounded" type="search" placeholder="Search for products">
                                <span class="input-group-append">
                                    <button class="btn bg-white border border-start-0 ms-n10 rounded-0 rounded-end" type="button">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                                             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                             class="feather feather-search">
                                            <circle cx="11" cy="11" r="8"></circle>
                                            <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                                        </svg>
                                    </button>
                                </span>
                            </div>

                        </form>
                    </div>
                    <div class="col-md-2 col-xxl-3 d-none d-lg-block">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn  btn-outline-gray-400 text-muted" data-bs-toggle="modal"
                                data-bs-target="#locationModal">
                            <i class="feather-icon icon-map-pin me-2"></i>Location
                        </button>


                    </div>
                    <div class="col-md-2 col-xxl-2 text-end d-none d-lg-block">

                        <div class="list-inline">
                            <div class="list-inline-item me-5">

                                <a href="../pages/shop-wishlist.html" class="text-muted position-relative">

                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                                         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                         class="feather feather-heart">
                                        <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z">
                                        </path>
                                    </svg>
                                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success">
                                        5
                                        <span class="visually-hidden">unread messages</span>
                                    </span>
                                </a>
                            </div>
                            <div class="list-inline-item me-5">

                                <a href="#!" class="text-muted" data-bs-toggle="modal" data-bs-target="#userModal">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                                         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                         class="feather feather-user">
                                        <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                                        <circle cx="12" cy="7" r="4"></circle>
                                    </svg>
                                </a>
                            </div>
                            <div class="list-inline-item">

                                <a class="text-muted position-relative " data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                                   href="#offcanvasExample" role="button" aria-controls="offcanvasRight">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                                         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                         class="feather feather-shopping-bag">
                                        <path d="M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z"></path>
                                        <line x1="3" y1="6" x2="21" y2="6"></line>
                                        <path d="M16 10a4 4 0 0 1-8 0"></path>
                                    </svg>
                                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success">
                                        1
                                        <span class="visually-hidden">unread messages</span>
                                    </span>
                                </a>

                            </div>





                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Nav整段刪掉-->

    </div> *@


<!--Main:主要編輯區在這 -->
<main>
    <!-- section-->
    <div class="mt-4">
        <div class="container">
            <!-- row -->
            <div class="row ">
                <!-- col -->
                <div class="col-12">
                    <!-- breadcrumb -->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Main">首頁</a></li>
                            <li class="breadcrumb-item"><a asp-controller="Member" asp-action="Profile">會員資料</a></li>
                            <li class="breadcrumb-item active" aria-current="page">收藏店家</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- section -->
    <section class="mt-8 mb-14">
        
        <div class="container">
            <!-- row -->
            <div class="row">
                <partial name="_MembershipPartial"></partial>
                @*<!-- 新增的partial標籤，有時間要再調整調整col-lg-*的值以適應版面 -->
                <div class="col-lg-3 col-md-4 col-6 border-end  d-none d-md-block">
                <partial name="_MembershipPartial">
                </div> *@

                <div class="col-md-8">
                    <div class="mb-8">
                        <!-- heading -->
                        <h1 class="mb-1">收藏店家</h1>
                        <p>目前共有 @ViewBag.FavoriteStoresCount 個喜愛的店家</p>
                        <div class="card border border-danger p-6" style="max-width: 768px">
                            <!--加上form-->
                            <form method="post" action="@Url.Action("DeleteFavorite", "Member")">
                                <!-- table -->
                                <div class="table-responsive">
                                    <table class="table text-nowrap table-with-checkbox">
                                        <thead class="table-light">
                                            <tr>
                                                <th>
                                                    <!-- form check -->
                                                    <div class="form-check">
                                                        <!-- input -->
                                                        <input class="form-check-input" type="checkbox" id="checkAll">
                                                        <!-- label -->
                                                        <label class="form-check-label" for="checkAll">全選</label>
                                                    </div>
                                                </th>
                                                <th></th>
                                                <th>店家</th>
                                                <th>刪除收藏</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            @*  <!--在 <tbody> 部分使用 @foreach 循環來動態生成每一行--> *@
                                            @foreach (var store in Model)
                                            {
                                                <tr>
                                                    <td class="align-middle">
                                                        <!-- form check -->
                                                        <div class="form-check">
                                                            @*  <!-- input 這邊value="@store.FavoriteId"--> id="checkbox-@store.FavoriteId"*@
                                                            <input class="form-check-input" type="checkbox" name="selectedFavorites" value="@store.FavoriteId" id="checkbox-@store.FavoriteId">
                                                            @* <!-- label for="checkbox-@store.FavoriteId"--> *@
                                                            <label class="form-check-label" for="checkbox-@store.FavoriteId"></label>
                                                        </div>
                                                    </td>

                                                    <td class="align-middle">
                                                        <a href="#">
                                                            <img src="@store.LogoPath" class="icon-shape icon-xxl" alt="">
                                                        </a>
                                                    </td>

                                                    <td class="align-middle">
                                                        <div>
                                                            <h5 class="fs-6 mb-0"><a href="#" class="text-inherit">@store.StoreName</a></h5>
                                                        </div>
                                                    </td>

                                                    <td class="align-middle ">
                                                        <button type="submit" name="singleDelete" value="@store.FavoriteId" class="text-muted" data-bs-toggle="tooltip"
                                                                data-bs-placement="top" title="Delete">
                                                            <i class="feather-icon icon-trash-2"></i>
                                                        </button>
                                                    </td>

                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <button type="submit" class="btn btn-soft-danger mb-2" name="bulkDelete">刪除勾選的店家</button>
                            </form>


                        </div>



                    </div>
                </div>

             

            </div>



        </div>
        

    </section>
</main>


