@using SiFoodProjectFormal2._0.Areas.Users.Models.ViewModels
@model IEnumerable<HistoryOrderVM>


<!-- 引用Layout -->
@{
    Layout = "_Layout";
}

<!-- Title -->
@{
    ViewData["Title"] = "歷史訂單";
}

<!-- CSS -->
@section Styles{
    <!-- Favicon icon-->
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/images/favicon/favicon.ico">


    <!-- Libs CSS -->
    <link href="~/assets/libs/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet">
    <link href="~/assets/libs/feather-webfont/dist/feather-icons.css" rel="stylesheet">
    <link href="~/assets/libs/simplebar/dist/simplebar.min.css" rel="stylesheet">


    <!-- Theme CSS -->
    <link rel="stylesheet" href="~/assets/css/theme.min.css">

    <!--改放大鏡和X顯示問題-->
    <style>
        .input-group-append .btn {
            margin-left: 2px; /* 增加按鈕間的間隔 */
        }

        .input-group .form-control {
            padding-right: 2.5rem; /* 確保輸入框內有足夠的空間 */
        }
    </style>
    }


<!-- Modal -->
<div class="modal fade" id="userModal" tabindex="-1" aria-labelledby="userModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-4">
            <div class="modal-header border-0">
                <h5 class="modal-title fs-3 fw-bold" id="userModalLabel">Sign Up</h5>

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="fullName" class="form-label">Name</label>
                        <input type="text" class="form-control" id="fullName" placeholder="Enter Your Name" required="">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="email" placeholder="Enter Email address" required="">
                    </div>

                    <div class="mb-5">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="Enter Password" required="">
                        <small class="form-text">
                            By Signup, you agree to our <a href="#!">Terms of Service</a> & <a href="#!">Privacy Policy</a>
                        </small>
                    </div>

                    <button type="submit" class="btn btn-primary">Sign Up</button>
                </form>
            </div>
            <div class="modal-footer border-0 justify-content-center">

                Already have an account? <a href="#">Sign in</a>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="locationModal" tabindex="-1" aria-labelledby="locationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-body p-6">
                <div class="d-flex justify-content-between align-items-start ">
                    <div>
                        <h5 class="mb-1" id="locationModalLabel">Choose your Delivery Location</h5>
                        <p class="mb-0 small">Enter your address and we will specify the offer you area. </p>
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="my-5">
                    <input type="search" class="form-control" placeholder="Search your area">
                </div>
                <div class="d-flex justify-content-between align-items-center mb-2">
                    <h6 class="mb-0">Select Location</h6>
                    <a href="#" class="btn btn-outline-gray-400 text-muted btn-sm">Clear All</a>


                </div>
                <div>
                    <div data-simplebar style="height:300px;">
                        <div class="list-group list-group-flush">

                            <a href="#"
                               class="list-group-item d-flex justify-content-between align-items-center px-2 py-3 list-group-item-action active">
                                <span>Alabama</span><span>Min:$20</span>
                            </a>
                            <a href="#"
                               class="list-group-item d-flex justify-content-between align-items-center px-2 py-3 list-group-item-action">
                                <span>Alaska</span><span>Min:$30</span>
                            </a>
                            <a href="#"
                               class="list-group-item d-flex justify-content-between align-items-center px-2 py-3 list-group-item-action">
                                <span>Arizona</span><span>Min:$50</span>
                            </a>
                            <a href="#"
                               class="list-group-item d-flex justify-content-between align-items-center px-2 py-3 list-group-item-action">
                                <span>California</span><span>Min:$29</span>
                            </a>
                            <a href="#"
                               class="list-group-item d-flex justify-content-between align-items-center px-2 py-3 list-group-item-action">
                                <span>Colorado</span><span>Min:$80</span>
                            </a>
                            <a href="#"
                               class="list-group-item d-flex justify-content-between align-items-center px-2 py-3 list-group-item-action">
                                <span>Florida</span><span>Min:$90</span>
                            </a>
                            <a href="#"
                               class="list-group-item d-flex justify-content-between align-items-center px-2 py-3 list-group-item-action">
                                <span>Arizona</span><span>Min:$50</span>
                            </a>
                            <a href="#"
                               class="list-group-item d-flex justify-content-between align-items-center px-2 py-3 list-group-item-action">
                                <span>California</span><span>Min:$29</span>
                            </a>
                            <a href="#"
                               class="list-group-item d-flex justify-content-between align-items-center px-2 py-3 list-group-item-action">
                                <span>Colorado</span><span>Min:$80</span>
                            </a>
                            <a href="#"
                               class="list-group-item d-flex justify-content-between align-items-center px-2 py-3 list-group-item-action">
                                <span>Florida</span><span>Min:$90</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<!-- Main -->
<main>
    <!-- section -->
    <section>
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- col -->
                <!--改加PartialView-->
                <partial name="_MembershipPartial"></partial>

                <!--Title-->
                <div class="col-lg-9 col-md-8 col-12">
                    <div class="py-6 p-md-6 p-lg-10">
                        <!-- heading -->
                        <h2 class="mb-6">我的訂單</h2>

                        <!-- 加入filter -->
                        <div class="row">
                            <div class="col-12">
                                <div class="d-lg-flex justify-content-between align-items-center">
                                    <div class="mb-3 mb-lg-0">
                                        <p class="mb-0">共 <span class="text-dark">@ViewBag.TotalOrdersCount </span> 筆</p>
                                    </div>

                                    <!-- text搜尋-->
                                    <!--分開放放大鏡和X-->
                                    <div class="col-xxl-4 col-lg-4 d-none d-lg-block">
                                        <form action="@Url.Action("HistoryOrders", "Member")" method="get" id="searchForm">
                                            <div class="input-group">
                                                <input class="form-control rounded" name="searchTerm" type="text"
                                                       placeholder="Search for products" value="@ViewBag.SearchTerm" id="searchInput">
                                                <span class="input-group-append">
                                                    <button class="btn bg-white" type="submit" id="searchButton">
                                                        <!-- 放大鏡SVG -->
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.414-1.415l-3.85-3.85a1.002 1.002 0 0 0-.114-.098zM13 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                                                        </svg>
                                                    </button>
                                                    <button class="btn bg-white clear-button" type="button" onclick="clearSearch()" id="clearButton" style="display: inline-block;">
                                                        X
                                                    </button>
                                                </span>
                                            </div>
                                        </form>
                                    </div>

                                    <!-- select option -->
                                    <form id="orderForm" action="@Url.Action("HistoryOrders", "Member")" method="get">
                                        <!-- 加入一個隱藏的輸入欄位來保存 searchTerm -->
                                        <input type="hidden" name="searchTerm" value="@ViewBag.SearchTerm">
                                        <!-- 顯示筆數選擇 -->
                                        <select class="form-select" name="pageSize" aria-label="Default select example" onchange="this.form.submit()">
                                            <option value="" selected>顯示筆數</option>
                                            <option value="5">顯示: 5</option>
                                            <option value="10">顯示:10</option>
                                            <option value="20">顯示:20</option>
                                            <option value="30">顯示:30</option>
                                        </select>
                                    </form>

                                    <!-- Sort顯示 -->
                                    <div>
                                            <form method="get" action="@Url.Action("HistoryOrders", "Member")">
                                            <!-- Sort選擇 -->
                                            <select class="form-select" name="sortOption" aria-label="Default select example" onchange="this.form.submit()">
                                                <option value="=">排序</option>           
                                                <option value="Status">訂單狀態</option>
                                                <option value="Low to High">金額：由低到高</option>
                                                <option value="High to Low">金額: 由高到低</option>
                                                <option value="Newest">訂購日期：由新到舊</option>
                                                <option value="Oldest">訂購日期：由舊到新</option>
                                            </select>
                                            </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mt-10 table-responsive-xxl border-0">
                            <!-- Table -->
                            <table class="table mb-0 text-nowrap table-centered ">
                                <!-- Table Head -->
                                <thead class="bg-light">
                                    <tr>
                                        <th>明細|評論</th>
                                        <th>&nbsp;</th>
                                        <th>商品</th>
                                        <th>訂單編號</th>
                                        <th>訂購日期</th>
                                        <th>件數</th>
                                        <th>訂單狀態</th>
                                        <th>金額</th>

                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var order in Model)
                                    {
                                        <tr>
                                            <td class="text-muted align-middle border-top-0">
                                                <a href="#" onclick="loadOrderDetails('@order.OrderId')" type="button" class="text-inherit" data-bs-toggle="modal" data-bs-placement="top" data-bs-title="View" data-bs-target=".gd-example-modal-lg">
                                                    <i class="feather-icon icon-eye"></i>
                                                    <partial name="_OrderDetailPartial"></partial>
                                                </a>
                                            </td>
                                            <td class="align-middle border-top-0 w-0">
                                                <a href="#">
                                                    <img src="@Url.Content($"{order.FirstProductPhotoPath}")" alt="Ecommerce" class="icon-shape icon-xl">
                                                </a>
                                            </td>
                                            <td class="align-middle border-top-0">
                                                <a href="#" class="fw-semi-bold text-inherit">
                                                    <h6 class="mb-0">@order.FirstProductName</h6>
                                                </a>
                                                @* <span><small class="text-muted">@order.ProductSize</small></span> *@
                                            </td>
                                            <td class="align-middle border-top-0">
                                                <a href="#" class="text-inherit">@order.OrderId</a>
                                            </td>
                                            <td class="align-middle border-top-0">
                                                @order.OrderDate.ToString("yyyy-MM-dd")
                                            </td>
                                            <td class="align-middle border-top-0">
                                                @order.Quantity
                                            </td>
                                            <td class="align-middle border-top-0">
                                                <!--依據不同訂單裝狀態給顏色-->
                                                @{
                                                    string badgeClass = order.Status switch
                                                    {
                                                        "已送達" => "badge text-bg-secondary",
                                                        "已領取" => "badge text-bg-info",
                                                        "已取消" => "badge text-bg-dark",

                                                        // 預設值
                                                        _ => "badge text-bg-primary"
                                                    };
                                                }
                                                <span class="@badgeClass">@order.Status</span>
                                            </td>
                                            <td class="align-middle border-top-0">
                                                $@order.TotalPrice
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<!-- modal -->

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasAccount" aria-labelledby="offcanvasAccountLabel">
    <!-- offcanvas header -->
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasAccountLabel">Offcanvas</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <!-- offcanvas body -->
    <div class="offcanvas-body">
        <ul class="nav flex-column nav-pills nav-pills-dark">
            <!-- nav item -->
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="account-orders.html">
                    <i class="feather-icon icon-shopping-bag me-2"></i>Your Orders
                </a>
            </li>
            <!-- nav item -->
            <li class="nav-item">
                <a class="nav-link " href="account-settings.html"><i class="feather-icon icon-settings me-2"></i>Settings</a>
            </li>
            <!-- nav item -->
            <li class="nav-item">
                <a class="nav-link" href="account-address.html"><i class="feather-icon icon-map-pin me-2"></i>Address</a>
            </li>
            <!-- nav item -->
            <li class="nav-item">
                <a class="nav-link" href="account-payment-method.html">
                    <i class="feather-icon icon-credit-card me-2"></i>Payment Method
                </a>
            </li>
            <!-- nav item -->
            <li class="nav-item">
                <a class="nav-link" href="account-notification.html">
                    <i class="feather-icon icon-bell me-2"></i>Notification
                </a>
            </li>

        </ul>
        <hr class="my-6">
        <div>
            <!-- nav  -->
            <ul class="nav flex-column nav-pills nav-pills-dark">
                <!-- nav item -->
                <li class="nav-item">
                    <a class="nav-link " href="../index.html"><i class="feather-icon icon-log-out me-2"></i>Log out</a>
                </li>

            </ul>
        </div>
    </div>
</div>



@section Scripts{

    <!-- text搜尋-->
    <!--分開放放大鏡和X,放大鏡維持存在,X在有文本時顯示&X按下去清除搜尋結果-->
    <script>
        document.getElementById('searchInput').addEventListener('input', function () {
            var clearButton = document.getElementById('clearButton');
            clearButton.style.display = this.value.length > 0 ? 'inline-block' : 'none';
        });

        function clearSearch() {
            var searchInput = document.getElementById('searchInput');
            searchInput.value = '';
            searchInput.dispatchEvent(new Event('input')); // 觸發輸入欄位的input事件
            document.getElementById('searchForm').submit(); // 提交表單以重新載入所有資料
        }
    </script>

    <!--顯示筆數下拉選單 start-->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById('pageSizeSelect').addEventListener('change', function () {
                this.form.submit();
            });
        });
    </script>


    <!--Sort-->
    <script>
        document.getElementById('sortSelect').addEventListener('change', function () {
            var selectedValue = this.value;
            // 假設希望保持目前頁面的其他參數不變，只改變sortOption
            var currentUrl = new URL(window.location);
            currentUrl.searchParams.set('sortOption', selectedValue);
            window.location.href = currentUrl.href;
        });
    </script>


    <!--處理Modal for Orderdetail-->
    <script>
        function loadOrderDetails(orderId) {
            // 使用Ajax向後端發送請求
            $.ajax({
                url: '@Url.Action("GetOrderDetails", "Member")', // 控制器的方法
                data: { orderId: orderId },
                success: function (response) {
                    // 將返回的視圖填充到模態框中
                    $('#exampleModalScrollable .modal-body').html(response);
                    // 顯示模態框
                    $('#exampleModalScrollable').modal('show');
                }
            });
        }
    </script>


    <!-- Javascript-->
    <!-- Libs JS -->
    <script src="~/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/libs/simplebar/dist/simplebar.min.js"></script>

    <!-- Theme JS -->
    <script src="~/assets/js/theme.min.js"></script>
}




