<!--測試連線--->
@model IEnumerable<SiFoodProjectFormal2._0.Models.Product>
<!--測試連線--->

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="Codescandy" name="author">
    <title>Dashboard - FreshCart </title>
    <!-- Favicon icon-->
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/images/favicon/favicon.ico">


    <!-- Libs CSS -->
    <link href="~/assets/libs/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet">
    <link href="~/assets/libs/feather-webfont/dist/feather-icons.css" rel="stylesheet">
    <link href="~/assets/libs/simplebar/dist/simplebar.min.css" rel="stylesheet">


    <!-- Theme CSS -->
    <link rel="stylesheet" href="~/assets/css/theme.min.css">
    <!-- Google tag (gtag.js) -->
    <!-- End Tag -->

</head>

<body>
    <!-- main -->
    <div>
        <div class="main-wrapper">
            <!-- navbar vertical -->
            <!-- main wrapper -->
            <main class="main-content-wrapper">
                <section class="container">
                    <!-- row -->
                    <div class="row mb-8">
                        <div class="col-md-12">
                            <!-- card -->
                            <div class="card bg-light border-0 rounded-4"
                                 style="background-image: url(~/assets/images/slider/slider-image-1.jpg); background-repeat: no-repeat; background-size: cover; background-position: right;">
                                <div class="card-body p-lg-12">
                                    <h1>
                                        歡迎回來! @ViewBag.StoreName
                                    </h1>
                                    <p>目前狀態:營業中</p>
                                    <a href="#" class="btn btn-primary">
                                        切換營業狀態
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- table -->
                    <!-- row -->
                    <div class="row ">
                        <div class="col-xl-8 col-lg-6 col-md-12 col-12 mb-6">
                            <!-- card左邊東西放這裡 -->
                            <div class="row ">
                                <div class="col-xl-6 col-lg-12 col-md-12 col-12 mb-6">
                                    <div class="card h-100 card-lg">
                                        <!-- heading -->
                                        <div class="p-6">
                                            <h3 class="mb-0 fs-5">商家概況</h3>
                                        </div>
                                        <div class="card-body p-0">
                                            <!-- table -->
                                            <div class="table-responsive">
                                                <table class="table table-centered table-borderless text-nowrap table-hover">
                                                    <thead class="bg-light">
                                                        <tr>
                                                            <th scope="col">即時資訊</th>
                                                            <th scope="col">數量</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>待確認訂單</td>
                                                            <td>@ViewBag.status1</td>
                                                        </tr>
                                                        <tr>
                                                            <td>待配送訂單</td>
                                                            <td>@ViewBag.status2</td>
                                                        </tr>
                                                        <tr>
                                                            <td>待領取訂單</td>
                                                            <td>@ViewBag.status3</td>
                                                        </tr>
                                                        <tr>
                                                            <td>配送中訂單</td>
                                                            <td>@ViewBag.status4</td>
                                                        </tr>
                                                        <tr>
                                                            <td>上架商品數</td>
                                                            <td>@ViewBag.SumReleasedQty</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-12 mb-6">
                            <!-- card -->
                            <div class="card h-100 card-lg">
                                <!-- card body -->
                                <div class="card-body p-6">
                                    <!-- heading -->
                                    <h3 class="mb-0 fs-5">今日銷售</h3>
                                    <div id="totalSale" class="mt-6 d-flex justify-content-center"></div>
                                    <div class="mt-4">
                                        <!-- list -->
                                        <ul class="list-unstyled mb-0">
                                            <li class="mb-2">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="8"
                                                     height="8" fill="currentColor"
                                                     class="bi bi-circle-fill text-primary" viewBox="0 0 16 16">
                                                    <circle cx="8" cy="8" r="8" />
                                                </svg> <span class="ms-1">
                                                    <span class="text-dark">
                                                        雞排便當
                                                        $32.98
                                                    </span> (2%)
                                                </span>
                                            </li>
                                            <li class="mb-2">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="8"
                                                     height="8" fill="currentColor"
                                                     class="bi bi-circle-fill text-warning" viewBox="0 0 16 16">
                                                    <circle cx="8" cy="8" r="8" />
                                                </svg> <span class="ms-1">
                                                    <span class="text-dark">知高飯 $11</span>
                                                    (11%)
                                                </span>
                                            </li>
                                            <li class="mb-2">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="8"
                                                     height="8" fill="currentColor" class="bi bi-circle-fill text-danger"
                                                     viewBox="0 0 16 16">
                                                    <circle cx="8" cy="8" r="8" />
                                                </svg> <span class="ms-1">
                                                    <span class="text-dark">素便當 $14.87</span>
                                                    (1%)
                                                </span>
                                            </li>
                                            <li>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8"
                                                     fill="currentColor" class="bi bi-circle-fill text-info"
                                                     viewBox="0 0 16 16">
                                                    <circle cx="8" cy="8" r="8" />
                                                </svg> <span class="ms-1">
                                                    <span class="text-dark">乾麵 3,271</span>
                                                    (86%)
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- row -->
                    <!-- row -->
                    <div id="main">
                        {{StoreInfo.productId}}
                    </div>

                </section>
            </main>
        </div>
    </div>
    
    <!--測試連線-->
    <div id="main" class="text-center">
        <button id="getStoreInfoAPI" v-on:click="getStoreInfoAPI" class="btn btn-primary">getelment</button>
    </div>
    <!--測試連線-->
    <!-- Libs JS -->
@*     <script src="~/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/libs/simplebar/dist/simplebar.min.js"></script>

    <!-- Theme JS -->
    <script src="~/assets/js/theme.min.js"></script>
    <script src="~/assets/libs/apexcharts/dist/apexcharts.min.js"></script>
    <script src="~/assets/js/vendors/chart.js"></script> *@

</body>
</html>
    @section Scripts
{
    <script src="~/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/libs/simplebar/dist/simplebar.min.js"></script>
    <script src="~/assets/js/theme.min.js"></script>
    <script src="~/assets/libs/apexcharts/dist/apexcharts.min.js"></script>
    <script src="~/assets/js/vendors/chart.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <script>
        var baseAddress = "https://localhost:7042";
        const StoreMainApp = Vue.createApp({
            data: function () {
                return {
                    StoreInfo:[],
                    ProductId: "",
                    ProductName:"",
                    SalesCount: "",
                }
            },
            computed: {
             },
            mounted: function () {
                let _this = this;
                _this.getStoreInfoAPI();
            },
            methods: {
                getStoreInfoAPI: function () {
                    let _this = this; /* test */
                    var uri = `${baseAddress}/Stores/Home/Main2`;
                    fetch(uri, { method: "GET" })
                        .then(response => {
                            if (response.ok) {
                                return response.json();
                            }
                            throw new Error(`HTTP error! Status: ${response.status}`);
                        })
                        .then(data => {
                            // 在這裡處理數據
                            alert(JSON.stringify(data));
                            _this.StoreInfo = data /* test */

                        })
                        .catch(error => {
                            alert(error);
                        });
                }
            },
        }).mount("#main")
    </script>
}
